<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
<httpProtocol>
  <customHeaders>
    <add name="Access-Control-Allow-Origin" value="http://localhost:3000" />
    <add name="Access-Control-Allow-Headers" value="Content-Type" />
    <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
    <add name="Cross-Origin-Embedder-Policy" value="require-corp" />
    <add name="Cross-Origin-Opener-Policy" value="same-origin" />
  </customHeaders>
</httpProtocol>
    <httpErrors errorMode="Custom" existingResponse="Replace">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" path="/" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  
</configuration>


